* {
    border: 0;
    margin: 0;
    padding: 0;
}

body {
    background-color: rgb(63, 70, 78);
}

h1 {
    text-align: center;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    color: rgb(255, 255, 255);
    position: relative;
    top: 30px;
    /* background-color: #3c2626; */
}

h3 {
    color: rgb(62, 62, 62);
    text-align: center;
}

span {
    color: rgb(30, 156, 85);
}

.main {
    width: 20rem;
    height: 30rem;
    background: #ffffff;
    border-radius: 3px;
    position: relative;
    top: 50px;
    box-shadow: rgba(0, 0, 0, 0.25) 0px 0px 5px 0px;

    z-index: 10;
}


.main, body {
    margin: auto;
}


#img {
    width: 10rem;
    height: 10rem;
    border-radius: 100%;
    position: relative;
    left: 5rem;
    top: 50px;
    display: block;
}
.img-inps{
    display: none;
}

.nmm {
    width: 15rem;
    height: 5rem;
    text-align: center;
    /* background-color: #efeeee; */
    position: relative;
    top: 100px;
    display: block;
}

.main,.nmm {
    margin: auto;
}

.nm1 {
    text-align: center;
}

#nm {
    width: 15rem;
    height: 30px;
    background-color: rgb(255, 255, 255);
    box-shadow: rgba(0, 0, 0, 0.25) 0px 0px 2px 1px;
    border-radius: 10px;
    text-align: center;
    position: relative;
    top: 20px;
}

.final {
    width: 19rem;
    height: 125px;
    background-color: rgb(255, 255, 255);
    box-shadow: rgba(0, 0, 0, 0.25) 0px 0px 2px 1px;
    border-radius: 10px;
    text-align: center;
    font-size: 20px;
    position: relative;
    top: 70px;
    display: none;
}

.main,.final {
    margin: auto;
}

.finalin {
    width: 17.5rem;
    height: 100px;
    /* background-color: aquamarine; */
    position: relative;
    top: .75rem;
}

.final,.finalin {
    margin: auto;
}

.contents {
    width: 300px;
    height: 300px;
    /* background-color: bisque; */
    position: relative;
    top: 60px;
    display: none;
}

.main,
.contents {
    margin: auto;
}

.qst {
    width: 300px;
    height: auto;
    border-bottom: 1px solid silver;

}

.ans-space {
    width: 17.5rem;
    height: 175px;
    /* background: #b0a2a2; */
    text-align: left;
    position: relative;
    top: 50px;
    left: 10px;



}

.opt {
    width: 200px;
    height: 50px;
    font-size: 20px;
    color: rgb(9, 110, 117);
    font-family: 'Lucida Sans', 'Lucida Sans Regular';
    font-size: 14px;
    text-align: left;
    cursor: pointer;
    /* background-color: #c62525; */
    margin: 30px;
    position: relative;
    top: 20px;

}

.op {
    width: 17.5px;
    height: 17.5px;
    position: relative;
    top: 22.5px;
    cursor: pointer;
}

#btn {
    width: 225px;
    height: 35px;
    border-radius: 2px;
    color: #ffffff;
    background-color: rgb(30, 156, 85);
    cursor: pointer;
    position: relative;
    left: 50px;
    top: 160px;
    display: block;
}

#btn:hover {
    background-color: rgb(72, 215, 136);
    color: #efeeee;
}